<form method="post" class="form-inline" id="signup">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-envelope"></i></span>
            <input type="email" class="form-control" name="email" placeholder="you@email.com">
        </div>
        <button type="button" class="btn bt-xs btn-success"
                title="Subscribe!"
                data-request="{{__SELF__}}::onSignup"
                data-request-success="alert('Thank you for signing up!'); document.getElementById('signup').reset();"
        ><i class="icon-thumbs-up"></i></button>
        <button type="button" class="btn bt-xs btn-danger"
                title="Un-Subscribe"
                data-request="{{__SELF__}}::onCancel"
                data-request-confirm="Are you sure you wish to Unsubscribe?"
                data-request-success="alert('Sorry to see you go! You have been unsubscribed.'); document.getElementById('signup').reset();"
        ><i class="icon-minus"></i></button>
    </div>
</form>

